.btn-show {
  display: inline-block;
  background-color: #6a5af9;
  color: #fff;
  padding: 12px 24px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
}

img.img-home {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
